.game-container {
  position: absolute;
  max-width: 1260px;
  width: 100%;
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}

.game-container__status {
  width: 40%;
  flex-shrink: 0;
}

.game-container__board-container {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  flex-grow: 1;
}

.game-container__game-over {
  background: rgb(255, 176, 0);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container__game-over::before {
  content: '';
  padding-top: 100%;
  display: block;
}

.game-container__game-over-text {
  color: rgb(75, 75, 75);
  font-weight: bold;
  font-size: 70px;
  line-height: 1em;
  margin: 0;
}

.game-container__game-over-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container__restart {
  background-color: white;
  font-size: 30px;
  border: none;
  line-height: 1em;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  color: rgb(75, 75, 75);
  font-weight: bold;
}

@media (max-width: 768px) {
  .game-container {
    padding: 15px;
    flex-direction: column-reverse;
    max-height: 100%;
  }

  .game-container__board-container {
    flex-shrink: 0;
    margin-left: 0;
  }

  .game-container__status {
    width: auto;
  }
}

@media (max-width: 600px) {
  .game-container {
    padding: 0;
  }
}
