.status-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status-container__player-score-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(151, 151, 151);
}

.player-score {
  padding: 0 15px 0;
  text-align: center;
  color: rgb(72, 72, 72);
  flex-grow: 1;
}

.player-score--orange {
  background-color: rgb(255, 176, 0);
}

.player-score--green {
  background-color: rgb(37, 183, 159);
}

.player-score__score-text {
  font-weight: bold;
  font-size: 50px;
  margin: 30px 0;
  line-height: 1em;
}

.player-score__divider {
  display: block;
  background-color: rgb(72, 72, 72);
  height: 1px;
  border: none;
  margin: 0;
}

.player-score__player-name {
  font-weight: bold;
  font-size: 24px;
  margin: 16px;
}

.ship-status-list {
  padding: 25px 0 0;
}

.ship-status {
  display: flex;
  min-height: 80px;
  margin-bottom: 25px;
}

.ship-status__element {
  width: 50%;
}

.ship-status__ship-body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.ship-status__ship-body--carrier {
  background-image: url('../assets/carrier.png');
}

.ship-status__ship-body--battleship {
  background-image: url('../assets/battleship.png');
}

.ship-status__ship-body--cruiser {
  background-image: url('../assets/cruiser.png');
}

.ship-status__ship-body--submarine {
  background-image: url('../assets/submarine.png');
}

.ship-status__ship-body--destroyer {
  background-image: url('../assets/destroyer.png');
}

.ship-body {
  display: flex;
  padding: 5px;
  margin-right: -5px;
}

.ship-body__health {
  width: 18.5%;
  flex-grow: 0;
  flex-shrink: 0;
  background: url('../assets/Miss small.png') no-repeat center;
  background-size: 100% auto;
  margin-right: 5px;
}

.ship-body__health--hit {
  background-image: url('../assets/Hit small.png');
}

@media (max-width: 768px) {
  .status-container {
    flex-direction: row;
    padding: 20px 0;
  }

  .player-score__score-text {
    margin: 15px 0;
  }

  .ship-status {
    min-height: 47px;
    flex-shrink: 1;
    margin-bottom: 0;
  }

  .ship-status-list {
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 180px;
    padding-left: 15px;
  }

  .ship-body__health {
    width: 14.5%;
  }

  .player-score {
    padding: 0 8px 0;
  }
}

@media (max-width: 600px) {
  .status-container {
    flex-direction: column;
    padding: 0;
  }

  .status-container__player-score-container {
    border: none;
  }

  .player-score__score-text {
    font-size: 40px;
    margin: 10px 0;
  }

  .player-score__player-name {
    margin: 11px 0;
    font-size: 16px;
  }
}
