.status-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.status-container__player-score-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(151, 151, 151);
}

.player-score {
  padding: 0 15px 0;
  text-align: center;
  color: rgb(72, 72, 72);
  flex-grow: 1;
}

.player-score--orange {
  background-color: rgb(255, 176, 0);
}

.player-score--green {
  background-color: rgb(37, 183, 159);
}

.player-score__score-text {
  font-weight: bold;
  font-size: 50px;
  margin: 30px 0;
  line-height: 1em;
}

.player-score__divider {
  display: block;
  background-color: rgb(72, 72, 72);
  height: 1px;
  border: none;
  margin: 0;
}

.player-score__player-name {
  font-weight: bold;
  font-size: 24px;
  margin: 16px;
}

.ship-status {
  display: flex;
  min-height: 80px;
}

.ship-status__element {
  width: 50%;
}

.ship-status__ship-body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.ship-status__ship-body--carrier {
  background-image: url('../assets/carrier.png');
}

.ship-status__ship-body--battleship {
  background-image: url('../assets/battleship.png');
}

.ship-status__ship-body--cruiser {
  background-image: url('../assets/cruiser.png');
}

.ship-status__ship-body--submarine {
  background-image: url('../assets/submarine.png');
}

.ship-status__ship-body--destroyer {
  background-image: url('../assets/destroyer.png');
}

.ship-body {
  display: flex;
  padding: 5px;
  margin-right: -5px;
  align-items: stretch;
}

.ship-body__health {
  width: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  background: url('../assets/Miss small.png') no-repeat center;
  background-size: auto 50%;
  margin-right: 5px;
}

.ship-body__health--hit {
  background-image: url('../assets/Hit small.png');
}
